backend:
  name: git-gateway
  branch: development # Branch to update (optional; defaults to master)

# These lines should *not* be indented
media_folder: "static/images" # Media files will be stored in the repo under static/images/uploads
public_folder: "/images" # The src attribute for uploaded media will begin with /images/uploads


collections:
  - name: "blog"
    label: "Blog"
    folder: "src/posts/content"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}

  - name: "pages"
    label: "Pages"
    files:
      - file: "src/pages/content/index.md"
        label: "Landing Page"
        name: "Landing"
        fields:
          - {label: "Body", name: "body", widget: "markdown"}
      - file: "src/pages/content/about.md"
        label: "About"
        name: "about"
        fields:
          - {label: "Body", name: "body", widget: "markdown"}
      - file: "src/pages/content/user-support.md"
        label: "User Support"
        name: "user-support"
        fields:
          - {label: "Body", name: "body", widget: "markdown"}
      - file: "src/pages/content/user-guides.md"
        label: "User Guides"
        name: "user-guides"
        fields:
          - {label: "Body", name: "body", widget: "markdown"}
      - file: "src/pages/content/high-performance-computing.md"
        label: "High-Performance Computing"
        name: "high-performance-computing"
        fields:
          - {label: "Body", name: "body", widget: "markdown"}
      - file: "src/user-guides/high-performance-computing/research-computing-user-portal.md"
        label: "Research Computing User Portal"
        name: "research-computing-user-portal"
        fields:
          - {label: "Body", name: "body", widget: "markdown"}
  - name: "Featured boxes"
    label: "Featured boxes"
    folder: "src/feature-boxes"
    create: false
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Slug", name: "path", widget: "string"}
      - {label: "Featured box thumbnail", name: "featuredImage", widget: "image"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "Featured Stories"
    label: "Featured Stories"
    folder: "src/featured-story"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Slug", name: "path", widget: "string"}
      - {label: "Short description", name: "excerpt", widget: "string"}
      - {label: "Featured story thumbnail", name: "thumbnail", widget: "image"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "Latest News"
    label: "Latest News"
    folder: "src/latest-news"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Author", name: "author", widget: "string"}
      - {label: "Slug", name: "path", widget: "string"}
      - {label: "parent menu", name: "parentEle", widget: "string", default: 'News and Events'}
      - {label: "date", name: "date", widget: "date", default: "{{year}}-{{month}}-{{day}}", format: 'YYYY-MM-DD'}
      - {label: "parent path", name: "parentPath", widget: "string", default: 'news-and-events'}
      - {label: "Category", name: "cat", widget: "string", default: 'news'}
      - {label: "Short description", name: "excerpt", widget: "string"}
      - {label: "Latest news thumbnail", name: "featuredImage", widget: "image"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "Researcher Profiles"
    label: "Researcher Profiles"
    folder: "src/researcher-profiles"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Author", name: "author", widget: "string"}
      - {label: "Slug", name: "path", widget: "string"}
      - {label: "parent menu", name: "parentEle", widget: "string", default: 'News and Events'}
      - {label: "date", name: "date", widget: "date", default: "{{year}}-{{month}}-{{day}}", format: 'YYYY-MM-DD'}
      - {label: "parent path", name: "parentPath", widget: "string", default: 'news-and-events'}
      - {label: "Category", name: "cat", widget: "string", default: 'news'}
      - {label: "Short description", name: "excerpt", widget: "string"}
      - {label: "Researcher Profiles thumbnail", name: "featuredImage", widget: "image"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "Current Projects"
    label: "Current Projects"
    folder: "src/projects"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Author", name: "author", widget: "string"}
      - {label: "Slug", name: "path", widget: "string"}
      - {label: "parent menu", name: "parentEle", widget: "string", default: 'Education & Outreach'}
      - {label: "date", name: "date", widget: "date", default: "{{year}}-{{month}}-{{day}}", format: 'YYYY-MM-DD'}
      - {label: "parent path", name: "parentPath", widget: "string", default: 'news-and-events'}
      - {label: "Category", name: "cat", widget: "string", default: 'news'}
      - {label: "Short description", name: "excerpt", widget: "string"}
      - {label: "Projects thumbnail", name: "thumbnail", widget: "image"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: settings
    label: Settings
    files:
      - file: src/data/settings/navigation.yml
        label: Navigation
        name: navigation
        fields:
          - label: Navigation
            name: nav_items
            widget: list
            fields:
              - {label: Label, name: label, widget: string}
              - {label: Path, name: path, widget: string}
              - label: Sub Navigation
                name: sub_nav_items
                widget: list
                fields:
                  - {label: Label, name: label, widget: string}
                  - {label: Path, name: path, widget: string}
  - name: About
    label: About Pages
    folder: src/navigation/about
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Slug", name: "path", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: Services
    label: Services Pages
    folder: src/navigation/Services
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Slug", name: "path", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: Education And Outreach
    label: Education And Outreach Pages
    folder: src/navigation/education-and-outreach
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Slug", name: "path", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: User Information
    label: User Information Pages
    folder: src/navigation/user-information
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Slug", name: "path", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: User Support
    label: User Support Pages
    folder: src/user-support
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Slug", name: "path", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: ColdFront
    label: ColdFront Pages
    folder: src/user-guides/coldfront
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Slug", name: "path", widget: "string"}
      - {label: "Id", name: "id", widget: "number"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: User Guides
    label: User Guides Pages
    folder: src/user-guides
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Slug", name: "path", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
