@import url("https://fonts.googleapis.com/css?family=Karla:400,700");
* {
  box-sizing: border-box;
}

body {
  font-family: karla, -apple-system, system-ui, "Segoe UI", "Roboto", "Helvetica Neue", Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #6b7c93;
}

a {
  text-decoration: none;
  color: #158fef;
}

a:hover,
a:focus {
  color: #4f3ef5;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.caret {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff;
  top: -20px;
  left: calc(50% - 10px);
  z-index: 1;
}

.dropdown-background {
  transform-origin: 0 0;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15),
    0 5px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid #c7635f;
    border-top: none;
}

.heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #000;
  &-no-margin {
    margin-bottom: 0;
  }
}

.link-list {
  li {
    margin-bottom: 1rem;
  }

  li:last-of-type {
    margin-bottom: 0;
  }

  margin-left: 0;
  &-margin-left {
    margin-left: 10px;
  }
}

.icon {
  width: 13px;
  height: 13px;
  margin-right: 13px;
  background-color: #158fef;
  opacity: 0.8;
  display: inline-block;
}

.dropdown-section {
  position: relative;
  z-index: 1;
   ul {
     li {
       padding: 10px;
        margin: 0;
        border-bottom: 1px solid #c7635f;
       &:nth-child(odd) {
         background-color: #F4EAE8;
       }
       &:nth-child(even) {
        background-color: #fff;
      }
      &:last-of-type {
        border-bottom: none;
      }
       .heading {
         text-transform: capitalize;
         font-weight: normal;
       }
     }
   }
}
@keyframes slide-in {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fade-out {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.dropdown-el {
  &[data-current] {
    // animation: fade-in 0.4s ease-in-out forwards, slide-in 0.7s ease-in-out forwards;
  }
  &[data-prev] {
    position: absolute;
    animation: fade-out 0.3s ease-in-out forwards;
  }
}
.company-dropdown-el {
  width: 23rem;
}

.developers-dropdown-el {
  width: 25rem;
}

.flex {
  display: flex;
  > div:first-of-type {
    margin-right: 48px;
  }
}

.products-dropdown-el {
  width: 10rem;
}

.logo {
  width: 38px;
  height: 38px;
  margin-right: 16px;
  border-radius: 100%;
  opacity: 0.6;
  &-grey {
    background-color: #f1f4f8b0;
  }
}

.sub-products-list {
  li {
    margin-bottom: 1rem;
  }
  h3 {
    margin-right: 1rem;
    width: 3.2rem;
    display: block;
  }
  a {
    color: #6b7c93;
  }
}

.navbar-item-title {
  background: transparent;
  border: 0;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 44px;
  color: black;
  font-family: inherit;
  display: flex;
  justify-content: center;
  transition: opacity 250ms;
  cursor: pointer;
  /* position above the dropdown, otherwise the dropdown will cover up the bottom sliver of the buttons */
  position: relative;
  z-index: 2;
  &:hover,
  &:focus {
    opacity: 0.7;
    outline: none;
  }
}

.navbar-item-el {
  position: relative;
  margin-left: 0.5rem;
  &:first-of-type {
    margin-left: 0;
  }
}

.dropdown-slot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  perspective: 1000px;
  z-index: 1;
}

.navbar-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
}
.header-container {
  // background: linear-gradient(to bottom, #990000 10%, #660000 90%);
  background-color: #303030;
  height: 200px;
  position: relative;
  
  .app-container {
      background: #A43137;
      position: absolute;
      bottom: 0;
      width: 100%;

      .navbar-item-title{
        color: white;
      }
  }

  .content-width-top {
    background-color: #1f1f1f;

    .usc-info {
      background-color: #1f1f1f;
      color: #D4D4D3;
      margin: 0 auto;
      max-width: 60rem;
    }
  }
  .content-width-middile {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    height: 132px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    form {
      margin-bottom: 0;
    }

    .hpc-logo {
      margin: 0;

      a{
        color: white;
      }
    }
  }
}





// Animated Boxes 
.box
{
	display: inline-block;
    float:left;
	height:25vh;
	width:25%;

	-webkit-transition: width 1s;
	-moz-transition: width 1s;
        transition: width 1s;
}
.box.Scientfic      { background-color: #2d89ef; }
.box.Solutions     { background-color: #00a300; }
.box.Computing { background-color: #e3a21a; }
.box.Education  { background-color: #9f00a7; }

.box a
{
	color:#FFF;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	height:100%;
	display:block;
   padding-top: 20px;
}

.box span
{
    display:block;
    position:relative;
    top:100%;
    text-align: center;

    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    transition: top 1s;
}

.nav:hover .box { width:10%; }

.nav .box:hover { width: 70%; }

.box:hover span{ top:25%; }
