#___gatsby {
    #gatsby-focus-wrapper{
        .pagination {
            display: flex;
            list-style: none;
            outline: none;
            justify-content: center;
          }
          .pagination > .active > a{
            background-color: #990000 ;
            border-color: #990000 ;
            color: #fff;
            font-size: 16px;
          }
          .pagination > li {
            font-size: 16px;
            margin-left: 5px;
          }
          .pagination > li > a{
            font-size: 16px;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            border-radius: 100%;
            border: 0.0625rem solid #990000;
            color: #990000;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            height: 3.25rem;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            overflow: hidden;
            padding-bottom: 0.125rem;
            transition: all .3s ease;
            width: 3.25rem;
            cursor: pointer;
            &:hover {
                background-color: #f3f3f3;
            }
          }
          .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
            background-color: #990000 ;
            border-color: #990000;
            outline: none ;
          }
          .pagination > li > a, .pagination > li > span{
            color: #990000
          }
          .pagination > li:first-child > a, .pagination > li:first-child > span{
            border-radius: unset;
            position: relative;
            content: "";
            display: inline-block;
            width: 0.8em;
            height: 0.8em;
            border-right: 0.2em solid black;
            border-top: 0.2em solid black;
            border-left: none;
            border-bottom: none;
            transform: rotate(225deg);
            margin-right: -0.4em;
          }
          .pagination > li:first-child {
              margin-right: 15px;
              &:hover {
                background-color: #f3f3f3;
            }
          }
          .pagination > li:last-child {
            margin-left: 15px;
            &:hover {
                background-color: #f3f3f3;
            }
        }
          .pagination > li:last-child > a, .pagination > li:last-child > span {
            border-radius: unset;
            position: relative;
            content: "";
            display: inline-block;
            width: 0.8em;
            height: 0.8em;
            border-right: 0.2em solid black;
            border-top: 0.2em solid black;
            border-left: none;
            border-bottom: none;
            transform: rotate(45deg);
          }
          .pagination > li:first-child, .pagination > li:last-child {
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            border-radius: 100%;
            border: 0.0625rem solid #fc0;
            color: #900;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            height: 3.25rem;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            overflow: hidden;
            transition: all .3s ease;
            width: 3.25rem;
          }
    }
}
