@import './slider-animations.less';
body {
  .search-result {
    margin: 80px 10%;
    .form-item {
      margin-bottom: 1.25rem;
      margin: 0 auto;
      position: relative;
      label {
        display: none;
        font-size: 1.125rem;
        margin-bottom: 0.3125rem;
      }
      img {
        margin: 0;
        top: 8px;
        width: 40px;
        left: 8px;
        position: absolute;
      }
      .form-text {
        background: transparent;
        font-size: 0.875rem;
        border-radius: 6.25rem;
        height: 3.125rem;
        margin-bottom: 0;
        margin: 0;
        padding: 0.75rem 0.5rem 0.75rem 3.625rem;
        width: 100%;

        &:active, &:focus {
          border: 3px solid #94374f;
          outline: none;
        }
      }
    }
    .post-list {
        padding: 30px;
        .posts {
            border-bottom: 0.0625rem solid #f1f1f1;
            padding: 10px;
            margin-bottom: 20px;
            h3 {
              color: #94374f
            }
            a {
              color: #94374f;
            }
        }
    }
  }
  .user-support {
    margin: 44px 10%;
    h1 {
      padding: 20px 0;
      margin: 20px 0;
      color: #990000;
    }
    .container {
      display: flex;
      justify-content: space-between;

      .left-col {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-self: flex-start;
        justify-content: space-between;
        a {
          color: black;
          font-size: 30px;
          width: 33%;

          &:hover {
            p {
              &.title {
                color: #990000;
                text-decoration: underline;
              }
              &.description {
                color: #990000;
              }
            }
          }
        }
        .user-support-box {
          height: 250px;
          width: auto;
          margin: 0 0 5px 0;
          background-color: lightgray;
          padding: 15px;
          overflow: hidden;

          img {
            width: 80px;
            margin: 0;
          }

          p {
            text-align: center;
            &.title {
              margin: 0;
              line-height: 30px;
              font-size: 20px;
              font-weight: bold;
            }
            &.description {
              margin: 0;
              font-size: 13px;
              line-height: 20px;
              margin-top: 12px;
              color: #444141;
            }
          }
        }
        div {
          margin-top: 20px;
          p, ul {
            text-align: left;
          }
        }
        
      }
      .right-col{
        width: 25%;
        .system-status, .recent-news {
          h3 {
            background-color: #ffcd05;
            padding: 15px;
            color: #990000;
          }
        }
      }
    }
  }
  .user-guides-main-pages {
    margin: 44px 10%;
    h1 {
      padding: 10px 0;
      margin: 10px 0;
      color: #990000;
    }
    .container {
      display: flex;
      justify-content: space-between;

      .left-column {
        width: 15%;
        margin-top: 119px;

        h3 {
          color: #990000;
          font-size: 26px;
        }

        .side-menu {
          display: flex;
          flex-direction: column;
          ul {
            &.submenu-items {
              li {
                display: flex;
                line-height: 1.5;
                a {
                  font-size: 12px;
                  margin-left: 15px;
                  color: black;
                  &.focused {
                    font-weight: bold;
                    color: #990000;
                  }
                }
              }
            }
            &.submenu-items-level-2 {
              margin: 2px 0 0 25px;
              li {
                line-height: 1.5;
                a {
                  font-size: 12px;
                  margin-left: 0;
                  color: black;
                  &.focused {
                    font-weight: bold;
                    color: #990000;
                  }
                }
              }
            }
            margin-bottom: 2px;
            a {
              font-size: 15px;
              color: black;

              &.focused {
                font-weight: bold;
                color: #990000;
              }

              &:hover {
                color: #990000;
                text-decoration: underline;
              }
            }
          }
        }
      }

      .middle-column {
        width: 66%;
        ul {
          list-style-position: inside;
          list-style: disc;
          margin-left: 20px;
          li {
            margin-left: 20px;
          }
        }
        > span {
          display: flex;
          flex-wrap: wrap;
          align-self: flex-start;
          justify-content: space-between;
        }

        .content-wrapper {
          .content-container{
            width: 100%;
            > span {
              display: block;
              padding: 0 0 20px 0;
              margin-bottom: 20px;
              border-bottom: 1px solid lightgray;
            }
  
            h3 {
              color: #990000;
              font-size: 26px;
            }
    
            li {
              &:hover {
                &:hover {
                  color: #990000;
                  text-decoration: underline;
                  cursor: pointer;
                }
              }
            }
          }
        }
       

        h1 {
          margin: 30px 0;
        }
        
        p {
          text-align: left;
        }
        a {
          color: black;
          font-size: 30px;
          width: 33%;

          &:hover {
            p {
              &.title {
                color: #990000;
                text-decoration: underline;
              }
              &.description {
                color: #990000;
              }
            }
          }
        }
        .user-support-box {
          overflow: hidden;
          height: 250px;
          width: auto;
          margin: 0 0 5px 0;
          background-color: lightgray;
          padding: 15px;
          text-align: center;
          overflow: hidden;

          img {
            width: 80px;
            margin: 0;
          }

          p {
            text-align: center;
            &.title {
              margin: 0;
              line-height: 30px;
              font-size: 20px;
              font-weight: bold;
            }
            &.description {
              margin: 0;
              font-size: 13px;
              line-height: 20px;
              margin-top: 12px;
              color: #444141;
            }
          }
        }
        div {
          // margin-top: 20px;
          p, ul {
            text-align: left;
          }
        }
        
      }
      .right-column{
        width: 15%;
        margin-top: 115px;
        .system-status, .recent-news {
          h4 {
            background-color: #ffcd05;
            padding: 15px;
            color: #990000;
          }
          h5 {
            padding: 0 0 0 20px;
            font-weight: normal;
            line-height: 0.5;
          }
        }
      }
    }
  }
  .user-guides{
    margin: 44px 10%;

    a {
      color: #990000;
    }
    
    h1 {
      margin-bottom: 40px;
      padding: 10px 0;
      margin: 10px 0;
      color: #990000;
    }
    .container {
      display: flex;
      justify-content: space-between;

      .left-col {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-self: flex-start;
        justify-content: space-between;
        p {
          text-align: left;
        }
        a {
          color: black;
          font-size: 30px;
          width: 49%;

          &:hover {
            p {
              &.title {
                color: #990000;
                text-decoration: underline;
              }
              &.description {
                color: #990000;
              }
            }
          }
        }
        .user-support-box {
          width: 300px;
          height: 150px;
          width: auto;
          margin: 0 0 5px 0;
          background-color: lightgray;
          padding: 15px;

          p {
            text-align: center;
            &.title {
              margin: 0;
              line-height: 30px;
              font-size: 20px;
              font-weight: bold;
            }
            &.description {
              margin: 0;
              font-size: 13px;
              line-height: 20px;
              margin-top: 12px;
              color: #444141;
            }
          }
        }
        div {
          margin-top: 20px;
          p, ul {
            text-align: left;
          }
        }
        
      }
      .right-col{
        width: 25%;
        .system-status, .recent-news {
          h3 {
            background-color: #ffcd05;
            padding: 15px;
            color: #990000;
          }
          h5 {
            padding: 0 0 0 20px;
            font-weight: normal;
            line-height: 0.5;
          }
        }
      }
    }
  }
  .user-guides-pages{
    margin: 44px 10%;

    a {
      color: #990000;
    }
    
    h1 {
      padding: 10px 0;
      margin: 10px 0;
      color: #990000;
    }
    .container {
      display: flex;
      justify-content: space-between;

      .left-column {
        width: 15%;
        margin-top: 119px;

        h3 {
          color: #990000;
          font-size: 26px;
        }

        .side-menu {
          display: flex;
          flex-direction: column;
          ul {
            &.submenu-items {
              li {
                  display: flex;
                  line-height: 1.5;
                a {
                  font-size: 12px;
                  margin-left: 15px;
                  color: black;
                  &.focused {
                    font-weight: bold;
                    color: #990000;
                  }
                }
              }
            }
            &.submenu-items-level-2 {
              margin: 2px 0 0 25px;
              li {
                line-height: 1.5;
                a {
                  font-size: 12px;
                  margin-left: 0;
                  color: black;
                  &.focused {
                    font-weight: bold;
                    color: #990000;
                  }
                }
              }
            }
            margin-bottom: 2px;
            a {
              font-size: 15px;
              color: black;

              &.focused {
                font-weight: bold;
                color: #990000;
              }

              &:hover {
                color: #990000;
                text-decoration: underline;
              }
            }
          }
        }
      }

      .middle-column {
        width: 66%;
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        flex-direction: column;
        align-self: flex-start;
        justify-content: space-between;

        ul {
          list-style-position: inside;
          list-style: disc;
          margin-left: 20px;

          li {
            margin-left: 20px;
          }
        }

        h1 {
          margin: 30px 0;
        }

        h3 {
          color: #990000;
          font-size: 26px;
        }

        li {
          &:hover {
            color: #990000;
            text-decoration: underline;
            cursor: pointer;
          }
        }

        p {
          text-align: left;
        }
        a {
          color: black;
          font-size: 30px;
          width: 49%;

          &:hover {
            p {
              &.title {
                color: #990000;
                text-decoration: underline;
              }
              &.description {
                color: #990000;
              }
            }
          }
        }
        .user-support-box {
          overflow: hidden;
          p {
            text-align: left;
            &.title {
              font-size: 20px;
              font-weight: bold;
              color: #990000;
            }
            &.description {
              margin: 0;
              font-size: 13px;
              line-height: 20px;
              margin-top: 12px;
              color: #444141;
            }
          }
        }
        div {
          margin-top: 20px;
          p, ul {
            text-align: left;
          }
        }
        
      }
      .right-column{
        width: 15%;
        margin-top: 115px;
        .system-status, .recent-news {
          h4 {
            background-color: #ffcd05;
            padding: 15px;
            color: #990000;
          }
          h5 {
            padding: 0 0 0 20px;
            font-weight: normal;
            line-height: 0.5;
          }
        }
      }
    }
  }
    .slider-wrapper {
        position: relative;
        height: 70vh;
        overflow: hidden;

        .slide {
            height: 70vh;
            background-size: cover !important;
          }

          .slide::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
            bottom: 0;
            left: 0;
        }
        
        .nextButton {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 10;
                cursor: pointer;
        }

        .previousButton {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            cursor: pointer;
    }
        
        .previousButton {
          left: 10px;
          -webkit-transform: rotate(0deg) translateY(calc(50% + 0px));
                  transform: rotate(0deg) translateY(calc(50% + 0px));
        }
        
        .nextButton {
          right: 10px;
        }
        
        .slider-content {
          text-align: center;
        }
        
        .slider-content .inner {
          padding: 0 70px;
          box-sizing: border-box;
          position: absolute;
          width: 100%;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
        }
        
        .slider-content .inner h1 {
          font-weight: 900;
          margin: 0 auto;
          max-width: 840px;
          color: #FFFFFF;
          font-size: 64px;
          line-height: 1;
        }
        
        .slider-content .inner p {
          color: #FFFFFF;
          font-size: 14px;
          margin: 20px auto 30px;
          max-width: 640px;
        }
        
        .slider-content section {
          position: absolute;
          bottom: 20px;
          left: 20px;
        }
        
        .slider-content section span {
          color: #FFFFFF;
        }
        
        .slider-content section span {
          color: rgba(255, 255, 255, 0.5);
          font-size: 12px;
          display: inline-block;
          text-align: left;
          line-height: 1.4;
          vertical-align: middle;
          margin-left: 10px;
        }
        
        .slider-content section img {
          width: 40px;
          height: 40px;
          border: solid 2px rgba(255, 255, 255, 0.5);
          border-radius: 100%;
          vertical-align: middle;
        }
        
        .slider-content section span strong {
          color: #FFFFFF;
          font-size: 14px;
          display: block;
        }

        button {
            -webkit-appearance: none;
                    appearance: none;
            -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
                    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
            -webkit-transition: all .5s ease;
                   filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
            -webkit-transition: all .5s ease;
                    transition: all .5s ease;
            border: none;
            background: #FFD800;
            border-radius: 30px;
            text-transform: uppercase;
            box-sizing: border-box;
            padding: 15px 40px;
            font-weight: 400;
            font-size: 13px;
            cursor: cursor;
          }
          
          button:hover {
            color: #FFFFFF;
            background: #222222;
            -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
                    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
          }
    }
    
}

//dot slider
.slick-slider {
  .slick-list {
    height: 700px;
    .slick-track {
      .slick-slide {
        img {
          width: 100%;
        }
        .entry-content {
          position: absolute;
          z-index: 150;
          bottom: 70px;
          right: 21%;
          width: 327px;
          padding: -0.25rem;
          color: #fff;

          .entry-title {
            font-size: 1.5rem;
            margin: 0;
            border-bottom: 1px solid rgba(255,204,0,0.7);
            background: rgba(153,0,0,0.7);
            padding: .5rem .75rem;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.33);
            color: #fff;

            a {
              color: #fff;
            }
          }

          .entry-summary{
            background: rgba(0,0,0,0.7);
            padding: .75rem;
            color: #fff;
            p {
              margin: 0;
            }
          }
        }
        .slider-content {
          display: flex;
          width: 100%;
          max-height: 600px;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
  .slick-dots {
    position: absolute !important;
    bottom: 126px;
    right: 24%;
    button {
        &:before{
          opacity: .5;
          color: #ffcd05;
        }
    }
    .slick-active {
      button {
        &:before{
          color: red !important;
        }
      }
    }
  }
}


@media only screen 
and (min-width : 664px) 
and (max-width : 1024px)  { 
  #___gatsby {
    .user-support, .user-guides{
      margin: 40px 3%;
      h1 {
        margin-bottom: 20px;
      }
      .container{
        display: block;
        .left-col{
          width: 100%;
          a{
            width: 49%;
          }
        }
        .right-col{
          width: 100%;
          margin-top: 20px;
          .system-status{
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen 
and (min-width : 320px) 
and (max-width : 664px)  {
  #___gatsby {
    .user-support, .user-guides{
      margin: 40px 3%;
      h1 {
        margin-bottom: 20px;
      }
      .container{
        display: block;
        .left-col{
          width: 100%;
          a{
            width: 100%;
          }
        }
        .right-col{
          width: 100%;
          .system-status{
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }

 }

 @media only screen 
and (min-width : 1025px) 
and (max-width : 1400px)  { 
  #___gatsby {
    .user-guides-main-pages {
      .user-support-box{
        .description {
          display: none;
        }
      }
    }
    .navbar {
      .dropdown {
        .dropbtn {
          font-size: 13px;
          a {
            font-size: 13px;
          }
        }
      } 
    }
  }

}